<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArtMovr - Artworks</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <h1>Artworks</h1>
    <input type="text" id="searchInput" placeholder="Search...">
    <button onclick="search()">Search</button>
</header>

<main>
    <!-- Artworks Page Content -->
    <div id="gallery">
        <!-- Artworks will be displayed here -->
    </div>
    <button onclick="filter()">Filter</button>
    <div id="artworkDetails">
        <!-- Artwork details will be displayed here -->
    </div>
    <a href="index.html">Home</a>
    <a href="artists.html">View Artists</a>
</main>

<script src="js/script.js"></script>
</body>
</html>
